body {
    background-color: rgb(10, 10, 10);
    color: #f1f1f1;
    margin: 0px;
    padding-top: 136px;
    padding-left: 96px;
    padding-right: 24px;
}

p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
}

/*------------Header------------*/

.header {
    background-color: rgb(10, 10, 10);
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 56px;
    z-index: 1;
}

.logo-section {
    width: 169px;
    display: flex;
    align-items: center;
}

.menu-icon {
    border-radius: 50%;
    height: 30px;
    padding: 6px;
}

.menu-icon:hover {
    background-color: #1E1E1E;
    cursor: pointer;
}

.logo {
    width: 100px;
    padding: 18px;
}

.logo:hover {
    cursor: pointer;
}

.search-section {
    flex: 1;
    max-width: 728px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar {
    flex: 1;
    width: 0px;
    height: 39px;
    border: 0.3px;
    border-right: 0px;
    border-top-left-radius: 20.8px;
    border-bottom-left-radius: 20.8px;
    margin-left: 80px;
    color: #ffffff;
    background-color: rgb(10, 10, 10);
    border-style: solid;
    border-color: #3a3a3a;
    padding: 0px;
}

.search-bar:focus {
    outline-width: 0px;
}

input[type=text] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 14px;
}

.search-icon {
    height: 39px;
    width: 64px;
    background-color: #1E1E1E;
    border: 0.3px;
    border-style: solid;
    border-color: #3a3a3a;
    border-top-right-radius: 20.8px;
    border-bottom-right-radius: 20.8px;
}

.search-icon:hover {
    cursor: pointer;
}

.mic-icon {
    margin-left: 10px;
    background-color: #131313;
    height: 39px;
    width: 39px;
    border-radius: 50%;
}

.mic-icon:hover {
    background-color: #1E1E1E;
    cursor: pointer;
}

.profile-section {
    width: 225px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-shrink: 0px;
    ;
}

.youtube-upload-icon {
    height: 42px;
    border-radius: 32px;
    margin-right: 8px;
}

.youtube-upload-icon:hover {
    background-color: #1E1E1E;
    cursor: pointer;
}

.notification-icon {
    height: 42px;
    border-radius: 32px;
    margin-right: 8px;
}

.notification-icon:hover {
    background-color: #1E1E1E;
    cursor: pointer;
}

.main-profile-icon {
    height: 32px;
    padding: 12px;
    border-radius: 32px;

}

.main-profile-icon:hover {
    cursor: pointer;
}

/*------------Header------------*/

/*------------Side Bar------------*/

.sidebar {
    background-color: rgb(10, 10, 10);
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 56px;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 64px;
    height: 74px;
}

.sidebar-button:hover {
    cursor: pointer;
    background-color: #1E1E1E;
}

.sidebar-icon {
    width: 32px;
}

.sidebar-names {
    font-size: 10px;
}

/*------------Side Bar------------*/

/*------------Tag List------------*/

.tag-list {
    background-color: rgb(10, 10, 10);
    position: fixed;
    top: 56px;
    left: 72px;
    padding-left: 24px;
    right: 0px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.tag {
    font-size: 14px;
    background-color: #1E1E1E;
    padding: 8px 12px;
    margin: 12px 12px 12px 0px;
    border-radius: 8px;
}

.tag:hover {
    background-color: #333333;
    cursor: pointer;
}

.tag-active {
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    padding: 8px 12px;
    margin: 12px 12px 12px 0px;
    border-radius: 8px;
}

.tag-active:hover {
    cursor: pointer;
}

/*------------Tag List------------*/

/*------------Video Preview------------*/

.video-preview-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.video-preview:hover {
    cursor: pointer;
    opacity: 0.75;
}

/* .thumbnail:hover{
    cursor: pointer;
    opacity: 0.75;
} */

.thumbnail {
    width: 100%;
    border-radius: 15px;
}

.thumbnail-box {
    position: relative;
}

.time-stamp {
    position: absolute;
    background-color: #000000;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3px 4px 3px 4px;
    border-radius: 4px;
    right: 8px;
    bottom: 8px;
}

.complete-video-info {
    margin-top: 12px;
}

/* .complete-video-info:hover{
    cursor: pointer;
    opacity: 0.75;
} */

.channel-profile {
    display: inline-block;
    vertical-align: top;
    width: 35px;
}

.channel-profile-picture {
    width: 35px;
    border-radius: 50%;
}

.video-info {
    display: inline-block;
    margin-left: 10px;
    width: 250px;
}

.video-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
}

.channel-profile-name {
    margin-top: 10px;
    font-size: 12px;
    color: #aaaaaa;
}

.video-stats {
    margin-top: 5px;
    font-size: 12px;
    color: #aaaaaa;
}

.tick {
    margin-left: 5px;
    width: 12px;
    opacity: 0.5;
}

/*------------Video Preview------------*/

/* Test Code Here */